body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Lato, sans-serif;
}

.keyboardTop {
    align-items: center;
    height: 35px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.keyboardNormal,
.keyboardSpecial {
    margin-top: 250px;
    width: 270px;
}

.keyboardNormal p,
.keyboardSpecial p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.keyboardNormal img,
.keyboardSpecial img {
    height: 50px;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 615px;
    width: 450px;
    margin-top: 0px;
    border: solid 1px #352a5a;
    border-radius: 5%;
    background-color: #f7f8fa;
    box-shadow: .5px .5px #352a5a;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
}

.dasio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Michroma, sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-top: -35px;
    margin-bottom: -15px;
    text-shadow: .5px .5px #352a5a;
}

.solarDivs {
    display: flex;
}

.solarDivs div{
    width: 20px;
    height: 30px;
    border: dotted .5px white;
    border-radius: 2px;
    background-color: #d7c9ac;
}

.solarDivs:hover .solar1 {
    background-color: #d1c09f;
}

.solar1:hover,
.solar2:hover,
.solar3:hover,
.solar4:hover,
.solar5:hover,
.solar6:hover,
.solar7:hover,
.solar8:hover,
.solar9:hover,
.solar10:hover,
.solar11:hover,
.solar12:hover {
    box-shadow: inset .5px .5px 5px #d6c2ae;;
}

.solarDivs:hover .solar2{
    background-color: #cab892;
}

.solarDivs:hover .solar3 {
    background-color: #c4af84;
}

.solarDivs:hover .solar4 {
    background-color: #bda777;
}

.solarDivs:hover .solar5 {
    background-color: #b79e6a;
}

.solarDivs:hover .solar6 {
    background-color: #b1955d;
}

.solarDivs:hover .solar7 {
    background-color: #a88c51;
}

.solarDivs:hover .solar8 {
    background-color: #9b814b;
}

.solarDivs:hover .solar9 {
    background-color: #8e7644;
}

.solarDivs:hover .solar10 {
    background-color: #816b3e;
}

.solarDivs:hover .solar11 {
    background-color: #746038;
}

.solarDivs:hover .solar12 {
    background-color: #665531;
}

.chainDisplay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 35px;
    border: solid .5px #352a5a;
    border-radius: 3px;
    background-color: #f5f7ee;
    box-shadow: .5px .5px #352a5a;
    
}

.scroll {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right: 25px;
    padding-left: 15px;
    direction: rtl;
    width: 400px;

}


.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 20px;
}

/*
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d6c2ae;
    border-radius: 1px;
}
*/

.scroll::-webkit-scrollbar-thumb {    
    background: #ded8cd;
}

#chainDisplayText {
    font-family: Lato, arial;
    font-size: 14px;
    color: #696969;
    direction: ltr;
}

#chainDisplayBold {
    color: black;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 100px;
    border: solid .5px #352a5a;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #eeeafb;
    box-shadow: .5px .5px #352a5a;
}

#displayText {
    font-family: Orbitron, Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-right: 25px;
}

.topRow {
    display: flex;
    justify-content: space-between;
    margin-top: 25px
}

.topRow button {
    width: 65px;
    height: 55px;
    border: none;
    border-radius: 2px;
    font-family: Lato, arial;
    font-size: 18px;
    color: white;
    box-shadow: .5px .5px #352a5a;
}

.topRow button:hover {
    box-shadow: 1px 1px #2d244c;
    transform: scale(1.02);
}

.containerBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    gap: 10px
}

.containerBottom button {
    width: 65px;
    height: 55px;
    box-shadow: .5px .5px #352a5a;
}

.containerBottom button:hover {
    box-shadow: 1px 1px #2d244c;
    transform: scale(1.02);
}

#percent,
#exponent,
#squareRoot,
#factorial {
    background-color: #b3acd7;


}

.column4,
.column3,
.column2,
.column1,
.column0 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.column4 button,
.column3 button,
.column2 button,
.column1 button,
.column0 button {
    border: none;
    border-radius: 2px;
    font-family: Lato, arial;
    font-size: 14px;
    background-color: #e2e0f0;
}

#plusMinus {
    background-color: #d3cee8;
    font-size: 18px;
}

#clear,
#backspace {
    background-color: #c9acd7;
}

#divide,
#multiply,
#minus,
#plus {
    background-color: #acbbd7;
    color: white;
    font-size: 18px;
}

#plus {
    height: 120px;
    border: none;
}

.plusWrapper {
    display: flex;
    flex-direction: column;
}

.bigPlus {
    display: flex;
    justify-content: flex-end;
}

#equal {
    font-size: 18px;
}

.madeBy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    margin-top: -5px;
}

.madeBy a {
    text-decoration: none;
    color: #2b1719;
}

.madeBy img {
    height: 20px;
    transition: transform 0.3s ease-in-out;
}

.madeBy img:hover {
    transform: rotate(-360deg) scale(1.3);
}