body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Lato, sans-serif;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 450px;
    margin-top: 70px;
    border: solid 1px #9b8573;
    border-radius: 5%;
    background-color: #cfd6dc;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
}

.solar {
    display: flex;
}

.solar div{
    width: 19px;
    height: 20px;
    border: dotted .5px white;
    border-radius: 2px;
    background-color: #ab998a;
}

.valueDisplay {
    width: 400px;
    height: 30px;
    border: solid .5px #9b8573;
    border-radius: 3px;
    margin-top: 20px;
    background-color: #f7f3ef;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 100px;
    border: solid .5px #9b8573;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #eff7f7;
}

#displayText {
    font-family: Orbitron, Arial, Helvetica, sans-serif;
    font-size: 42px;
    margin-right: 25px;
}

.clearDelete {
    display: flex;
    justify-content: space-between;
    margin-top: 30px
}

.clearDelete button {
    width: 150px;
    height: 50px;
    background-color: #9b7389;
    border: none;
    border-radius: 2px;
    font-family: Lato, arial;
    font-size: 18px;
    color: white;
}

#plusMinus {
    width: 65px;
    background-color: #a0afbb;
    color: white;
    font-size: 18px;
}

.containerBottom {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px
}

.containerBottom button {
    width: 65px;
    height: 55px;
}

.row3,
.row2,
.row1,
.row0 {
    display: flex;
    justify-content: space-between;
}


.row3 button,
.row2 button,
.row1 button,
.row0 button {
    border: none;
    border-radius: 2px;
    font-family: Lato, arial;
    font-size: 14px;
    background-color: #f1f3f5;
}

#doubleZero,
#percent,
#exponent,
#squareRoot,
#divide,
#multiply,
#minus,
#plus {
    background-color: #73899b;
    color: white;
    font-size: 18px;
}

#equal {
    background-color: #9b8573;
    color: white;
    font-size: 18px;
}

.madeBy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}

.madeBy a {
    text-decoration: none;
    color: #2b1719;
}

.madeBy img {
    height: 20px;
    transition: transform 0.3s ease-in-out;
}

.madeBy img:hover {
    transform: rotate(-360deg) scale(1.3);
}