body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Lato, sans-serif;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 615px;
    width: 450px;
    margin-top: 70px;
    border: solid 1px #352a5a;
    border-radius: 5%;
    background-color: #f7f8fa;
    box-shadow: .5px .5px #352a5a;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
}

.dasio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Michroma, sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-top: -35px;
    margin-bottom: -15px;
    text-shadow: .5px .5px #352a5a;
}

.solar {
    display: flex;
}

.solar div{
    width: 20px;
    height: 30px;
    border: dotted .5px white;
    border-radius: 2px;
    background-color: #d7c9ac;
}

.chainDisplay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 35px;
    border: solid .5px #352a5a;
    border-radius: 3px;
    background-color: #f5f7ee;
    box-shadow: .5px .5px #352a5a;
    
}

.scroll {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right: 25px;
    direction: rtl;
}

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
}
/*
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d6c2ae;
    border-radius: 1px;
}
*/

.scroll::-webkit-scrollbar-thumb {    
    background: pink;
}

#chainDisplayText {
    font-family: Lato, arial;
    font-size: 14px;
    color: #696969;
    direction: ltr;
}

#chainDisplayBold {
    color: black;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 100px;
    border: solid .5px #352a5a;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #eeeafb;
    box-shadow: .5px .5px #352a5a;
}

#displayText {
    font-family: Orbitron, Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-right: 25px;
}

.topRow {
    display: flex;
    justify-content: space-between;
    margin-top: 25px
}

.topRow button {
    width: 65px;
    height: 55px;
    border: none;
    border-radius: 2px;
    font-family: Lato, arial;
    font-size: 18px;
    color: white;
    box-shadow: .5px .5px #352a5a;
}

.topRow button:hover {
    box-shadow: 1px 1px #2d244c;
    transform: scale(1.02);
}

.containerBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    gap: 10px
}

.containerBottom button {
    width: 65px;
    height: 55px;
    box-shadow: .5px .5px #352a5a;
}

.containerBottom button:hover {
    box-shadow: 1px 1px #2d244c;
    transform: scale(1.02);
}

#percent,
#exponent,
#squareRoot,
#factorial {
    background-color: #b3acd7;


}

.column4,
.column3,
.column2,
.column1,
.column0 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.column4 button,
.column3 button,
.column2 button,
.column1 button,
.column0 button {
    border: none;
    border-radius: 2px;
    font-family: Lato, arial;
    font-size: 14px;
    background-color: #e2e0f0;
}

#plusMinus {
    background-color: #d3cee8;
    font-size: 18px;
}

#clear,
#backspace {
    background-color: #c9acd7;
}

#divide,
#multiply,
#minus,
#plus {
    background-color: #acbbd7;
    color: white;
    font-size: 18px;
}

#plus {
    height: 120px;
    border: none;
}

.plusWrapper {
    display: flex;
    flex-direction: column;
}

.bigPlus {
    display: flex;
    justify-content: flex-end;
}

#equal {
    font-size: 18px;
}

.madeBy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    margin-top: -5px;
}

.madeBy a {
    text-decoration: none;
    color: #2b1719;
}

.madeBy img {
    height: 20px;
    transition: transform 0.3s ease-in-out;
}

.madeBy img:hover {
    transform: rotate(-360deg) scale(1.3);
}